.timer {
    font-size: 5rem;
    color: black;
}

h1 {
    background-color: black;
    color: honeydew;
    font-size: 4em;
    font-family: auto;
    text-shadow: 6px 3px 7px;
}

.suggetion {
    background-color: cadetblue;
    padding: 2em;
    margin-top: -8px;
}

blockquote {
    font-size: 19px;
    padding: 19px;
    padding-left: 30px;
    padding-right: 30px;
}

.quotediv {
    background-color: lightgray;
    margin-top: 19px;
    border-radius: 15px;
    text-align: justify;
}

textarea {
    border: 14px solid gray;
    border-radius: 19px;
    width: -webkit-fill-available;
}

button {
    border: 5px solid yellow;
    border-radius: 10px;
    padding: 13px 36px;
    font-size: 26px;
}

.timer {}