.timer {
    font-size: 5rem;
    color: black;
}

h1 {
    background-color: black;
    color: honeydew;
    font-size: 4em;
    font-family: auto;
    text-shadow: 6px 3px 7px;
}

.suggetion {
    background-color: cadetblue;
    padding: 2em;
    margin-top: -8px;
}

blockquote {
    font-size: 19px;
    padding: 19px;
    padding-left: 30px;
    padding-right: 30px;
}

.quotediv {
    background-color: lightgray;
    margin-top: 19px;
    border-radius: 15px;
    text-align: justify;
}

textarea {
    border: 14px solid gray;
    border-radius: 19px;
    width: -webkit-fill-available;
}

button {
    border: 5px solid yellow;
    border-radius: 10px;
    padding: 13px 36px;
    font-size: 26px;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
        s
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}